[flake8]
   max-line-length = 120
   exclude = 
       .git,
       __pycache__,
       */migrations/*,
       */djangoenv/*,
       venv,
       env,
       */node_modules/*,
       */static/*,
       */media/*,
       */build/*
   ignore = E501,W503
